<div id="content">


    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-upload"></i> Export
                <span>
                </span>
            </h1>
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->

    <!-- row -->
    <div class="row">
        <article class="col-sm-12">

            <div smart-include="app/export/views/export-tab-pane.tpl.html" class="placeholder-live-feeds"></div>

        </article>
    </div>
    <!-- end row -->
</div>