<header id="sub-header" class="hidden-xs">

    <div class="nav">
        <ul>
            <li data-ui-sref="app.cp-service-notification" data-ui-sref-active="active">
                <span>
                    Dashboard
                </span>
            </li>
            <li data-ui-sref="app.import" data-ui-sref-active="active">
                <span>
                    Imports
                </span>
            </li>
            <li data-ui-sref="app.export" data-ui-sref-active="active">
                <span>
                    Exports
                </span>
            </li>
            <li data-ui-sref="app.dashboard" data-ui-sref-active="active">
                <span>
                    My Services
                </span>
            </li>
        </ul>
        
    </div>

</header>