<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" data-sparkline-container>
    <ul id="sparks" class="">
        <li class="sparks-info" style="text-align:center;" tooltip-placement="bottom" uib-tooltip="Completed Requests">
            <h5>
                <a data-ui-sref="app.recent-payment">
                    Recent Payements
                    <span class="txt-color-purple">
                        <i class="fa fa-money"></i>
                        &nbsp;3
                    </span>
                </a>
            </h5>
            <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
            </div>
        </li>
    </ul>
</div>
