<div id="content">


    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-cogs"></i> My Preferences
                <span>
                </span>
            </h1>
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->


    <!-- widget grid -->
    <section id="widget-grid" widget-grid>

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="basic-form-elements" data-widget-colorbutton="false" data-widget-editbutton="false"
                     data-widget-custombutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> 
                            <i class="fa fa-bell"></i> 
                        </span>

                        <h2>Event Notification</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">
                                <header>
                                    Configure Event Notificaition :
                                </header>

                                <fieldset>
                                    <section>
                                        <label class="label">Select Duration</label>
                                        <div class="inline-group">
                                            <label class="radio">
                                                <input type="radio" name="radio-inline" checked="checked">
                                                <i></i>Everyday
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="radio-inline">
                                                <i></i>Every Week
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="radio-inline">
                                                <i></i>Every Month
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="radio-inline">
                                                <i></i>Real Time
                                            </label>
                                        </div>
                                    </section>
                                </fieldset>

                                <fieldset>
                                    <section>
                                        <label class="label">Select Events</label>
                                        <div class="row">
                                            <div class="col col-md-7">
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox" checked="checked">
                                                    <i></i>
                                                    Import Gate In  
                                                    &nbsp;
                                                    <span class="label-primary" style="padding-left: 2px; padding-right: 2px; color: white; border-radius: 3px;"> Daily</span>
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox">
                                                    <i></i>
                                                    Import Examination
                                                    &nbsp;
                                                    <span class="label-primary" style="padding-left: 2px; padding-right: 2px; color: white; border-radius: 3px;"> Daily</span>
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox">
                                                    <i></i>
                                                    Import Out Of Charge
                                                    &nbsp;
                                                    <span class="label-warning" style="padding-left: 2px; padding-right: 2px; color: white; border-radius: 3px;"> Weekly</span>
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox">
                                                    <i></i>
                                                    Import Gate Out
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox">
                                                    <i></i>
                                                    Export Carting
                                                    &nbsp;
                                                    <span class="label-success" style="padding-left: 2px; padding-right: 2px; color: white; border-radius: 3px;"> Monthly</span>
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox">
                                                    <i></i>
                                                    Let Export
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox">
                                                    <i></i>
                                                    Export Document Received
                                                    &nbsp;
                                                    <span class="label-success" style="padding-left: 2px; padding-right: 2px; color: white; border-radius: 3px;"> Monthly</span>
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox">
                                                    <i></i>
                                                    Export Gate Out
                                                </label>
                                            </div>
                                            <div class="col col-md-7">
                                                
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>

                                <footer>
                                    <button type="submit" class="btn bg-color-green txt-color-white">
                                        Subscribe
                                    </button>
                                    <button type="button" class="btn bg-color-red txt-color-white">
                                        Unsubscribe
                                    </button>
                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>



    </section>
</div>