<div id="content">


    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-credit-card"></i> Make Payment
                <span>
                </span>
            </h1>
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->

    <div class="row">

        <article class="col-lg-3">

        </article>

        <article class="col-xs-12 col-sm-7 col-md-7 col-lg-6">

            <div class="widget-body no-padding">
                <div data-smart-include="app/recent-payments/views/checkout-form.html"></div>
            </div>

        </article>

        <article class="col-lg-3">

        </article>

    </div>






</div>