<div id="content">


    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-credit-card"></i> My Ledger
                <span>
                </span>
            </h1>
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->
    <!-- widget grid -->

    <section id="widget-grid" widget-grid>
        <!-- row -->
        <div class="row" style="text-align:center">

            <!-- NEW WIDGET START -->
            <article class="col-sm-3 col-md-4 col-lg-2 col-xs-6">

                <!--<div class="alert alert-info fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                    <i class="fa-fw fa fa-info"></i>
                    <strong>Info!</strong> You have not perform any transaction yet.
                </div>-->

                <div data-ui-sref="app.add-money" class="panel panel-default wallet-card">

                    <table>
                        <tr>
                            <td>
                                <i class="fa fa-plus fa-4x wallet-icon "></i>
                            </td>
                            <td>
                                <span class="wallet-title">
                                    Add Money
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>

            </article>

            <article class="col-sm-3 col-md-4 col-lg-2 col-xs-6">

                <div class="panel panel-default wallet-card">

                    <table width="100%">
                        <tr>
                            <td>
                                <span class="wallet-card-title">
                                    Available Balance
                                </span>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <span class="balance-font">
                                    <i class="fa fa-rupee wallet-icon"></i> &nbsp; 6000
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>

            </article>

        </div>

        <div class="row">

            <article class="col-sm-12">

                <div jarvis-widget id="table-hover-states-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Passbook Transaction</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            
                            <div class="table-responsive">

                                <table class="table table-condensed table-hover smart-form">
                                    <thead>
                                        <tr>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Transaction No 
                                            </th>
                                            <th>
                                                Invoice No
                                            </th>
                                            <th>
                                                Particulars
                                            </th>
                                            <th>
                                                Debit Amount 
                                            </th>
                                            <th>
                                                Credit Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>01 Aug 2018</td>
                                            <td>MMT/IMPS/82831890</td>
                                            <td>INV891</td>
                                            <td>All Cargo CFS</td>
                                            <td>6000</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>01 Aug 2018</td>
                                            <td>NFS/MSW/0361712</td>
                                            <td>INV828</td>
                                            <td>All Cargo CFS</td>
                                            <td>3000</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>01 Aug 2018</td>
                                            <td>DEP/0361712</td>
                                            <td>-</td>
                                            <td>Amount Deposited</td>
                                            <td>-</td>
                                            <td>15000</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>

            </article>
        </div>



    </section>





</div>
