<div jarvis-widget id="live-feeds-widget" data-widget-togglebutton="false" data-widget-editbutton="false"
     data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">

    <header>

        <!--<span class="widget-icon">
            <i class="glyphicon glyphicon-stats txt-color-darken"></i>
        </span>

        <h2>Import Data</h2>-->

        <ul class="nav nav-tabs pull-left in" id="myTab">
            <li class="active">
                <a data-toggle="tab" href="#s1">
                    <i class="fa fa-download"></i>
                    <span class="hidden-mobile hidden-tablet">Import</span>
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#s2">
                    <i class="fa fa-arrow-down"></i>
                    <span class="hidden-mobile hidden-tablet">Import - In Bond</span>
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#s3">
                    <i class="fa fa-arrow-up"></i>
                    <span class="hidden-mobile hidden-tablet">Import - Ex Bond</span>
                </a>
            </li>
        </ul>

    </header>

    <!-- widget div-->

    <div class="no-padding">

        <div class="widget-body">

            <!-- content -->
            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade active in no-padding-bottom" id="s1">
                    
                    <div class="widget-body-toolbar bg-color-white">

                        <form class="form-inline" role="form">

                            <div class="btn-group hidden-phone pull-right">
                                <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i> More <span class="caret"> </span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href-void><i class="fa fa-file-text-alt"></i> Export to PDF</a>
                                    </li>
                                    <li>
                                        <a href-void><i class="fa fa-question-sign"></i> Help</a>
                                    </li>
                                </ul>
                            </div>

                        </form>

                    </div>
                    <div class="padding-10">

                        <!--<section widget-grid id="widget-grid">-->

                        <div class="row">
                            <article class="col-sm-12">

                                <div jarvis-widget id="table-hover-states-widget" data-widget-color="darken" data-widget-editbutton="false">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                        <h2>All Imports Data</h2>
                                    </header>
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-condensed" style="cellpadding:2px; font-size:8pt;">
                                                    <thead>
                                                        <tr>
                                                            <th data-hide="phone">
                                                                Container No
                                                            </th>
                                                            <th>
                                                                Importer
                                                            </th>
                                                            <th class="hidden-sm">
                                                                Size
                                                            </th>
                                                            <th>
                                                                Type
                                                            </th>
                                                            <th>
                                                                Line
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>
                                                                Mode Of Delivery
                                                            </th>
                                                            <th>
                                                                Line Seal
                                                            </th>
                                                            <th>
                                                                Custom Seal
                                                            </th>
                                                            <th>
                                                                DEC NOP
                                                            </th>
                                                            <th>
                                                                DEC WT
                                                            </th>
                                                            <th>
                                                                Port Gate Out
                                                            </th>
                                                            <th>
                                                                Gate in Date
                                                            </th>
                                                            <th>
                                                                Seal Cut Date
                                                            </th>
                                                            <th>
                                                                Examined
                                                            </th>
                                                            <th>
                                                                COOC Date
                                                            </th>
                                                            <th>
                                                                DEL NOP
                                                            </th>
                                                            <th>
                                                                DEL WT
                                                            </th>
                                                            <th>
                                                                Ageing
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>326230-1</td>
                                                            <td>Vinod</td>
                                                            <td>40'</td>
                                                            <td>01</td>
                                                            <td>Maersk</td>
                                                            <td></td>
                                                            <td>Factory</td>
                                                            <td>Done</td>
                                                            <td>Done</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>25 June 2018</td>
                                                            <td>27 June 2018</td>
                                                            <td>25 June 2018</td>
                                                            <td>50%</td>
                                                            <td>26 June 2018</td>
                                                            <td></td>
                                                            <td>10 tons</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>6303262-1</td>
                                                            <td>Raj</td>
                                                            <td>20'</td>
                                                            <td>01</td>
                                                            <td>Cosco</td>
                                                            <td></td>
                                                            <td>Dock</td>
                                                            <td>Done</td>
                                                            <td>Done</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>20 June 2018</td>
                                                            <td>25 June 2018</td>
                                                            <td>22 June 2018</td>
                                                            <td>50%</td>
                                                            <td>21 June 2018</td>
                                                            <td></td>
                                                            <td>5 tons</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3263021-2</td>
                                                            <td>Lavina</td>
                                                            <td>20'</td>
                                                            <td>02</td>
                                                            <td>Wan Hai</td>
                                                            <td></td>
                                                            <td>Warehouse</td>
                                                            <td>Done</td>
                                                            <td>Done</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>25 June 2018</td>
                                                            <td>27 June 2018</td>
                                                            <td>25 June 2018</td>
                                                            <td>10%</td>
                                                            <td>26 June 2018</td>
                                                            <td></td>
                                                            <td>1 ton</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3263062-3</td>
                                                            <td>Parag</td>
                                                            <td>40'</td>
                                                            <td>03</td>
                                                            <td>APL</td>
                                                            <td></td>
                                                            <td>Factory</td>
                                                            <td>Done</td>
                                                            <td>Done</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>25 May 2018</td>
                                                            <td>27 May 2018</td>
                                                            <td>25 May 2018</td>
                                                            <td>50%</td>
                                                            <td>26 May 2018</td>
                                                            <td></td>
                                                            <td>10 tons</td>
                                                            <td>2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3262630-1</td>
                                                            <td>Sherly</td>
                                                            <td>40'</td>
                                                            <td>01</td>
                                                            <td>CMA CGM</td>
                                                            <td></td>
                                                            <td>Warehouse</td>
                                                            <td>Done</td>
                                                            <td>Done</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>25 June 2018</td>
                                                            <td>27 June 2018</td>
                                                            <td>25 June 2018</td>
                                                            <td>50%</td>
                                                            <td>26 June 2018</td>
                                                            <td></td>
                                                            <td>10 tons</td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </article>
                        </div>
                        <!--</section>-->

                    </div>
                </div>
                <!-- end s1 tab pane -->

                <div class="tab-pane fade" id="s2">
                    <div class="widget-body-toolbar bg-color-white">

                        <form class="form-inline" role="form">

                            <div class="btn-group hidden-phone pull-right">
                                <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i> More <span class="caret"> </span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href-void><i class="fa fa-file-text-alt"></i> Export to PDF</a>
                                    </li>
                                    <li>
                                        <a href-void><i class="fa fa-question-sign"></i> Help</a>
                                    </li>
                                </ul>
                            </div>

                        </form>

                    </div>
                    <div class="padding-10">
                        
                        <!--<section widget-grid id="widget-grid">-->
                        <div class="row">
                            <article class="col-sm-12">

                                <div jarvis-widget id="table-hover-states-widget" data-widget-color="darken" data-widget-editbutton="false">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                                        <h2>Imports - In Bond Data</h2>
                                    </header>
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-condensed" style="cellpadding:2px; font-size:8pt;">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Container No.</th>
                                                            <th>Importer</th>
                                                            <th>Item No.</th>
                                                            <th>BOE No.</th>
                                                            <th>Size</th>
                                                            <th>Type</th>
                                                            <th>Line</th>
                                                            <th>Status</th>
                                                            <th>Line Seal</th>
                                                            <th>Custom Seal</th>
                                                            <th>DEC NOP</th>
                                                            <th>DEC WT</th>
                                                            <th>Port Gate Out</th>
                                                            <th>Gate In Date</th>
                                                            <th>Bond Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>3263062-3</td>
                                                            <td>Parag</td>
                                                            <td>2112</td>
                                                            <td>0013</td>
                                                            <td>40'</td>
                                                            <td>01</td>
                                                            <td>APL</td>
                                                            <td>NA</td>
                                                            <td>Done</td>
                                                            <td>Done</td>
                                                            <td></td>
                                                            <td>12 ton</td>
                                                            <td>25 May 2018</td>
                                                            <td>28 May 2018</td>
                                                            <td>26 May 2018</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </article>
                        </div>
                        <!--</section>-->

                    </div>

                </div>
                <!-- end s2 tab pane -->

                <div class="tab-pane fade" id="s3">

                    <div class="widget-body-toolbar bg-color-white smart-form" id="rev-toggles">

                        <div class="btn-group hidden-phone pull-right">
                            <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                                <i class="fa fa-cog"></i> More <span class="caret"> </span>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href-void><i class="fa fa-file-text-alt"></i> Export to PDF</a>
                                </li>
                                <li>
                                    <a href-void><i class="fa fa-question-sign"></i> Help</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="padding-10">
                        
                        <!--<section widget-grid id="widget-grid">-->
                        <div class="row">
                            <article class="col-sm-12">

                                <div jarvis-widget id="table-hover-states-widget" data-widget-color="darken" data-widget-editbutton="false">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                                        <h2>Imports - Ex Bond Data</h2>
                                    </header>
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-condensed" style="cellpadding:2px; font-size:8pt;">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Container No.</th>
                                                            <th>Importer</th>
                                                            <th>EX BOE</th>
                                                            <th>BOE No.</th>
                                                            <th>COOC Date</th>
                                                            <th>DEC NOP</th>
                                                            <th>DEC WT</th>
                                                            <th>REM NOP</th>
                                                            <th>REM WT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>3263062-3</td>
                                                            <td>Parag</td>
                                                            <td>2112</td>
                                                            <td>21</td>
                                                            <td>25 May 2018</td>
                                                            <td></td>
                                                            <td>2 ton</td>
                                                            <td></td>
                                                            <td>1 ton</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </article>
                        </div>
                        <!--</section>-->

                    </div>
                </div>
                <!-- end s3 tab pane -->
            </div>

            <!-- end content -->
        </div>

    </div>
    <!-- end widget div -->
</div>
