<div id="content">
    <!-- Import Top Bar -->
    <div class="import-top-bar">

        <span class="static-label">
            Type:
        </span>

        <div class="btn-group type-toggle-btn">
            <a href-void class="btn btn-default">LCL</a>
            <a href-void class="btn btn-default">FCL</a>
        </div>

        <span class="static-label">
            View: 
        </span>

        <div class="btn-group type-toggle-btn">
            <a href-void class="btn btn-default">Current Status 8 to 8</a>
            <a href-void class="btn btn-default">All Pendencies</a>
        </div>


    </div>
    <!-- End Import Top Bar -->


    <!-- import content -->
    <div class="body-content">
        <div class="col-md-2 left-filter-panel ">
            <div class="well" style="height:100%;">

                <span class="left-filter-panel-header">
                    Only Show Result For
                </span>

                <div class="filter-list">
                    <ul>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <a>
                                Add another label
                            </a>
                        </li>
                    </ul>

                    <span class="left-filter-panel-header">
                        Filter results by
                    </span>

                    <ul>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" data-checklist-value="role"> DPD
                            </label>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-md-10 main-content-panel ">
           
            <div class="track-card-row">

                <div class="track-card">
                    <h2>
                        50
                    </h2>
                    <span class="static-label">
                        Total
                    </span>
                </div>
                <div class="track-card">
                    <h2>
                        02
                    </h2>
                    <span class="static-label">
                        Port Out
                    </span>
                </div>
                <div class="track-card">
                    <h2>
                        10
                    </h2>
                    <span class="static-label">
                        Gate In
                    </span>
                </div>
                <div class="track-card">
                    <h2>
                        07
                    </h2>
                    <span class="static-label">
                        Examination
                    </span>
                </div>
                <div class="track-card">
                    <h2>
                        15
                    </h2>
                    <span class="static-label">
                        Out Of Charge
                    </span>
                </div>
                <div class="track-card">
                    <h2>
                        08
                    </h2>
                    <span class="static-label">
                        Destuff
                    </span>
                </div>
                <div class="track-card">
                    <h2>
                        11
                    </h2>
                    <span class="static-label">
                        Gate Out
                    </span>
                </div>

            </div>
            
            <div class="import-table-section" >
                <div class="table-responsive">

                    <table class="table table-condensed table-hover smart-form has-tickbox" style="background-color:#fff;">
                        <thead style="background-color:#fff !important;">
                            <tr>
                                <th>
                                    <!--<label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>-->
                                </th>
                                <th>
                                    IGM No.
                                </th>
                                <th>
                                    Container No.
                                </th>
                                <th>
                                    Arrived On
                                </th>
                                <th>
                                    Status 8-8
                                </th>
                                <th>
                                    Importer
                                </th>
                                <th>
                                    Commodity Type
                                </th>
                                <th>
                                    Delivery Type
                                </th>
                                <th>
                                    Priority Setting
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>
                                </td>
                                <td>2197187</td>
                                <td>ZIMU1329392</td>
                                <td>15th July '18</td>
                                <td>
                                    <!--<table width="100%">
                                        <tr class="status-levels">
                                            <td>
                                                <div class="status-level-1" />
                                            </td>
                                            <td>
                                                <div class="status-level-2" />
                                            </td>
                                            <td>
                                                <div class="status-level-3" />
                                            </td>
                                            <td>
                                                <div class="status-level-4" />
                                            </td>
                                            <td>
                                                <div class="status-level-5" />
                                            </td>
                                            <td>
                                                <div class="status-level-6" />
                                            </td>
                                        </tr>
                                    </table>-->
                                    <div class="status-levels">
                                        <ul>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                        </ul>
                                    </div>
                                    
                                </td>
                                <td>
                                    Nikhil Nair
                                </td>
                                <td>
                                    Automative Parts
                                </td>
                                <td>
                                    Factory
                                </td>
                                <td>
                                    RMS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>
                                </td>
                                <td>2197187</td>
                                <td>ZIMU1329392</td>
                                <td>15th July '18</td>
                                <td>
                                    <div class="status-levels">
                                        <ul>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                        </ul>
                                    </div>

                                </td>
                                <td>
                                    Nikhil Nair
                                </td>
                                <td>
                                    Automative Parts
                                </td>
                                <td>
                                    Factory
                                </td>
                                <td>
                                    RMS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>
                                </td>
                                <td>2197187</td>
                                <td>ZIMU1329392</td>
                                <td>15th July '18</td>
                                <td>
                                    <div class="status-levels">
                                        <ul>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                        </ul>
                                    </div>

                                </td>
                                <td>
                                    Nikhil Nair
                                </td>
                                <td>
                                    Automative Parts
                                </td>
                                <td>
                                    Factory
                                </td>
                                <td>
                                    RMS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>
                                </td>
                                <td>2197187</td>
                                <td>ZIMU1329392</td>
                                <td>15th July '18</td>
                                <td>
                                    <div class="status-levels">
                                        <ul>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                        </ul>
                                    </div>

                                </td>
                                <td>
                                    Nikhil Nair
                                </td>
                                <td>
                                    Automative Parts
                                </td>
                                <td>
                                    Factory
                                </td>
                                <td>
                                    RMS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>
                                </td>
                                <td>2197187</td>
                                <td>ZIMU1329392</td>
                                <td>15th July '18</td>
                                <td>
                                    <div class="status-levels">
                                        <ul>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                        </ul>
                                    </div>

                                </td>
                                <td>
                                    Nikhil Nair
                                </td>
                                <td>
                                    Automative Parts
                                </td>
                                <td>
                                    Factory
                                </td>
                                <td>
                                    RMS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>
                                </td>
                                <td>2197187</td>
                                <td>ZIMU1329392</td>
                                <td>15th July '18</td>
                                <td>
                                    <div class="status-levels">
                                        <ul>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                            <li class="status-level-1"></li>
                                        </ul>
                                    </div>

                                </td>
                                <td>
                                    Nikhil Nair
                                </td>
                                <td>
                                    Automative Parts
                                </td>
                                <td>
                                    Factory
                                </td>
                                <td>
                                    RMS
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
    <!-- end import content -->


</div>